
.step {
  display: flex;
  height: 120px;
  margin-bottom: 15px;
}

.step.explore-mode {
  /* background-color: #a8a8a8; */
  min-height: 320px;
}

.funnel {
  margin-top: 10px;
}

.funnel .funnel-step {
  padding: 0 15px;
  flex-direction: column;
}


.funnel .funnel-step-definition {
  border: solid #E8E8E8 1px;
  display: flex;
  /* align-items: center; */
  flex: 1;
  border-radius: 2px;
  position: relative;
  /* background-color: #EFEFEF; */
}

.funnel .funnel-step-definition .dragzone{
  width:20px;
  height: 100%;
  /* background-color: #a8a8a8; */
  flex: 0.023 1;
  /* background: url(drag.png) no-repeat; */
}

.funnel .funnel-step-definition .content{
  flex: 1 1;
}

.step-title {
  position: relative;
	width: 36px;
	height: 15px;
	font-size: 12px;
  color: #8e8e8e;
  /* top: -28px; */
  margin-left: 10px;
  margin-top: 10px;
}

.step-actions-container {
  position: absolute;
  top: 0;
  right: 5px;
  width: 270px;
  height: 30px;
  /* background: url('step-actions.png') no-repeat; */
}

.explore-container {
  display: flex;
  flex-direction:  row;
}

.funnel-event-list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin-top: 20px;
  padding-right: 10px;
}

.funnel-event-list-item {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  font-size: 14px;
  height: 40px;  
}

/* Step animation */
.stepanim-enter {
  opacity: 0.01;
  margin-top: 30px;
}

.stepanim-enter.stepanim-enter-active {
  opacity: 1;
  margin-top: 0;
  transition: opacity 300ms ease-in;
}

.stepanim-leave {
  opacity: 1;
}

.stepanim-leave.stepanim-leave-active {
  opacity: 0.01;
  margin-left: 30px;
  transition: opacity 300ms ease-in;
}


.explore-mode-button {
  font-size: 12px;
  color: #adadad;
  font-weight: 600;
  top: -11px;
  position: relative;
  right: -49px;
  width: 40px;
}

.explore-mode-button-active {
  font-size: 12px;
  color: #3182bd;
  font-weight: 600;
  top: 5px;
  position: relative;
  right: -40px;
}