.stepanim-enter {
  opacity: 0.01;
  transform: translate(0px,20px);
}

.stepanim-enter.stepanim-enter-active {
  opacity: 1;
  transform: translate(0px,0px);
  transition: 300ms ease-out;
  transition-property: all;
}

.stepanim-exit {
  opacity: 1;
}

.stepanim-exit.stepanim-exit-active {
  opacity: 0.01;
  left: 30px;
  transition: opacity left 300ms ease-in;
}