.funnel {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

/* .funnel-item {
  height: 80px;
  margin: 20px;
} */

.funnel .steps {
  flex-direction: column;
  flex: 1;
}

.steps-timeline-container {
  max-width: 50px;
  justify-content: center;
  align-items: center;
  flex: 0.13 1;
}

.timeline-step {
  align-items: center;
  display: flex;
  text-align: center;
}

.timeline-point {
  background-color: #000;
  border-radius: 25px;
  color: #FFF;
  width: 40px;
  height: 40px;
  line-height: 2.7;
}

.timeline-add-copy {
  margin-left: 10px;
}