.funnel {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

/* .funnel-item {
  height: 80px;
  margin: 20px;
} */

.funnel .steps {
  flex-direction: column;
  flex: 1;
}

.steps-timeline-container {
  max-width: 50px;
  justify-content: center;
  align-items: center;
  flex: 0.13 1;
}

.timeline-step {
  align-items: center;
  display: flex;
  text-align: center;
}

.timeline-point {
  background-color: #000;
  border-radius: 25px;
  color: #FFF;
  width: 30px;
  height: 30px;
  line-height: 2.1;
  padding-left: 1px;
}

.timeline-add-copy {
  margin-left: 10px;
}

.switch {
    border: 1px solid #ccc;
    width: 45px;
    height: 20px;
    border-radius: 13px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.switch.on {
    background: #3182bd;
}

.switch-toggle {
  border: 1px solid #999;
  box-shadow: 1px 1px 1px #ccc;
  width: 20px;
  height: 18px;
  left: 0;
  border-radius: 12px;
  background: #fff;
  position: relative;
  transition: left .2s ease-in-out;
}

.switch.on .switch-toggle {
    left: 23px;
}