.funnel {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

/* .funnel-item {
  height: 80px;
  margin: 20px;
} */

.funnel .steps {
  flex-direction: column;
  flex: 1;
}

.step {
  display: flex;
  height: 100px;
  margin-bottom: 15px;
}

.step.explore-mode {
  /* background-color: #a8a8a8; */
  min-height: 300px;
  transition: height .3s ease-out;
}

.funnel .funnel-step {
  padding: 0 15px;
}


.funnel .funnel-step-definition {
  border: solid rgb(156, 156, 156) 1px;
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 2px;
  position: relative;
}

.funnel .funnel-step-definition .dragzone{
  width:20px;
  height: 100%;
  background-color: #a8a8a8;
  flex: 0.023 1;
}

.funnel .funnel-step-definition .content{
  flex: 1 1;
  padding: 0 10px;
}

.steps-timeline-container {
  max-width: 50px;
  justify-content: center;
  align-items: center;
  flex: 0.13 1;
}

.timeline-step {
  align-items: center;
  display: flex;
  text-align: center;
}

.timeline-point {
  background-color: #000;
  border-radius: 25px;
  color: #FFF;
  width: 40px;
  height: 40px;
  line-height: 2.7;
}

.timeline-add-copy {
  margin-left: 10px;
}

.delete-step-action {
  position: absolute;
  top: 0;
  right: 5px;
}